<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.matata_android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 请求网络权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 8.0请求未知应用安装权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- 访问账户列表 -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 硬盘读取 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 日历 -->
    <uses-permission android:name="READ_CALENDAR" />
    <uses-permission android:name="WRITE_CALENDAR" /> <!-- 位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".zhzbase.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".login.activitys.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".login.activitys.RetrievePasswordOneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".login.activitys.RetrievePasswordTwoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".login.activitys.SignInActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".homepage.activitys.MusicCollageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activitys.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.activitys.SignInTwoActivity" />
        <activity android:name=".homepage.activitys.ArtCampActivity" />
        <activity android:name=".homepage.activitys.ArtCampListActivity" />
        <activity android:name=".homepage.activitys.ArtCampAtActivity" />
        <activity android:name=".homepage.activitys.ArtBuyActivity" />
        <activity android:name=".homepage.activitys.ArtBuyCompleteActivity" />
        <activity android:name=".growup.activity.StudyAdjustActivity" />
        <activity android:name=".growup.activity.ChangChildInfoActivity" />
        <activity android:name=".homepage.activitys.CourseDetailsActivity" />
        <activity android:name=".my.activitys.MyVipActivity" />
        <activity android:name=".my.activitys.MyExtensionActivity" />
        <activity android:name=".my.activitys.MyOrderActivity" />
        <activity android:name=".my.activitys.MyFollowActivity" />
        <activity android:name=".my.activitys.MyMessageActivity" />
        <activity android:name=".my.activitys.MyFriendActivity" />
        <activity
            android:name=".homepage.activitys.CourseDetailsOffLineActivity"
            android:label="@string/title_activity_course_details_off_line"
            android:theme="@style/AppTheme" />
        <activity android:name=".homepage.activitys.MusicCollagetwoActivity" />
        <activity android:name=".homepage.activitys.MusicCollageThreeActivity" />
        <activity android:name=".homepage.activitys.CourseDetailsTwoActivity" />
        <activity
            android:name=".homepage.activitys.PlayVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".homepage.activitys.TheatreCollageActivity" />
        <activity android:name=".homepage.activitys.TheatreCollageCourseDetailsActivity" />
        <activity android:name=".homepage.activitys.AllTeacherActivity" />
        <activity android:name=".homepage.activitys.HomePagerSearchActivity" />
        <activity android:name=".homepage.activitys.TeacherDetailsActivity" />
        <activity android:name=".homepage.activitys.ArtSetActivity"></activity>
    </application>

</manifest>